.pianoframe
{
position: static;
height: 240px;
left: 24px;
right: 24px;
top: 24px;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 0;
margin: 32px 0px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */

.box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px 2em;
}

.box :first-child {
    align-self: center;
}

.purplefont
{
position: static;
left: 0px;
top: 0px;

/* Display xs/Semibold */

font-family: Inter;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 32px;
/* identical to box height, or 133% */


/* Purple/700 */

color: #5925DC;


/* Inside auto layout */

flex: none;
order: 0;
flex-grow: 1;
margin: 0px 16px;

}


.box2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 2em;

  margin: 20px 0px;
}

.button-success-padding {
  padding-top: 30px;
}