.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title,
.description {
  text-align: center;
}

.title {
  margin: 0;
  font-weight: 600;
  font-size: 60px;
  line-height: 72px;
  padding: 96px 128px 24px 128px;
}

.description {
  margin: 0;
  line-height: 1.5;
  font-size: 20px;
  line-height: 30px;
  color: #667085;
  padding: 0px 18vw 48px 18vw;
}

.buttonContainer {
  padding-bottom: 3000px;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
